<template>
  <b-container>
    <b-form>
      <b-form-row>
        <b-col cols="12">
          <b-form-group
            :label="$t('message.recipe.name')"
            label-for="recipe-name"
            :invalid-feedback="feedback('name')"
          >
            <b-form-input
              id="recipe-name"
              v-model="value.name"
              :state="errors.name.length === 0 ? null : false"
              @input="validateAll"
              required
              trim
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col cols="12">
          <b-form-group
            :label="$t('message.recipe.preparation')"
            label-for="recipe-preparation"
            :invalid-feedback="feedback('preparation')"
          >
            <b-form-textarea
              id="recipe-preparation"
              v-model="value.preparation"
              required
              :state="errors.preparation.length === 0 ? null : false"
              @input="validateAll"
              rows="3"
              max-rows="10"
              trim
            ></b-form-textarea>
          </b-form-group>
        </b-col>
        <b-col cols="6" md="4">
          <b-form-group
            :label="$t('message.recipe.duration')"
            label-for="recipe-duration"
          >
            <b-input-group>
              <b-input-group-prepend>
                <b-input-group-text>
                  <b-icon-clock />
                </b-input-group-text>
              </b-input-group-prepend>
              <b-form-input
                id="recipe-duration"
                v-model="value.duration"
                :state="errors.duration.length === 0 ? null : false"
                @input="validateAll"
                required
                trim
              ></b-form-input>
              <b-form-invalid-feedback>{{ feedback('duration') }}</b-form-invalid-feedback>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="6" md="4">
          <b-form-group :label="$t('message.recipe.servings')" label-for="recipe-servings">
            <b-input-group>
              <b-input-group-prepend>
                <b-input-group-text>
                  <b-icon-people />
                </b-input-group-text>
              </b-input-group-prepend>
              <b-form-spinbutton
                id="recipe-servings"
                v-model="value.servings"
                :required="true"
                :min="1"
                :max="100"
              ></b-form-spinbutton>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col cols="12" md="4">
          <b-form-group :label="$t('message.recipe.tags')" label-for="recipe-tags">
            <b-input-group>
              <b-input-group-prepend>
                <b-input-group-text>
                  <b-icon-tag />
                </b-input-group-text>
              </b-input-group-prepend>
              <b-form-tags
                id="recipe-tags"
                v-model="value.tags"
                separator=","
                :placeholder="$t('message.tag.placeholder')"
                :add-button-text="$t('message.tag.add')"
                :duplicate-tag-text="$t('message.tag.duplicateExists')"
              ></b-form-tags>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-form-row>
        <b-col cols="12">
          <b-form-group
            :label="$t('message.recipe.ingredients')"
            label-for="recipe-ingredients"
            label-align="left"
          >
            <b-input-group
              class="ingredient"
              v-for="(ingredient, index) in value.ingredients"
              :key="index"
            >
              <b-form-input
                @keyup.enter="insertIngredient(index)"
                @input="updateIngredient(index, $event)"
                :trim="true"
                :value="ingredient"
                :key="index"
                :placeholder="$t('message.recipe.ingredient')"
              />
              <b-input-group-append v-if="!(index === value.ingredients.length - 1)">
                <b-button variant="outline-secondary" @click="deleteIngredient(index)">
                  <b-icon-x />
                </b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-form-row>
      <b-row align-h="center">
        <b-col cols="12" md="4">
          <b-button @click="appendIngredient" id="recipe-add-ingredient">
            <b-icon icon="plus" aria-hidden="true"></b-icon>
          </b-button>
        </b-col>
      </b-row>
    </b-form>
  </b-container>
</template>

<script>
import _ from "lodash";
export default {
  name: "RecipeForm",
  props: {
    value: {
      type: Object,
      default() {
        return {
          name: "",
          preparation: "",
          tags: [],
          ingredients: [],
          duration: "",
          servings: 1
        };
      }
    }
  },
  data() {
    return {
      errors: {
        name: [],
        preparation: [],
        duration: []
      }
    };
  },
  methods: {
    updateIngredient(index, value) {
      this.value.ingredients.splice(index, 1, value);
    },
    insertIngredient(index) {
      this.value.ingredients.splice(index + 1, 0, "");
    },
    appendIngredient() {
      this.value.ingredients.push("");
    },
    deleteIngredient(index) {
      this.value.ingredients.splice(index, 1);
    },
    validate(field) {
      this.errors[field] = [];
      const fieldValue = this.value[field];
      if (fieldValue.length === 0) {
        this.errors[field].push(
          this.$t("message.validation.empty", [
            this.$t(`message.recipe.${field}`)
          ])
        );
      }
    },
    validateAll() {
      const fields = _.keys(this.errors)
      _.forEach(fields, this.validate)
    },
    feedback(field) {
      const errors = this.errors[field];
      return _.join(errors, ", ");
    }
  },
  computed: {
    isValid() {
      return _.flatten(_.values(this.errors)).length === 0
    }
  }
};
</script>

<style scoped>
.ingredient:not(:first-child) {
  margin-top: 1em;
}

#recipe-add-ingredient {
  width: 100%;
}
</style>