<template>
  <div id="app">
    <b-container v-if="sessionActive">
      <b-row>
        <b-col cols="12">
          <div id="navbar">
            <b-row id="navbar-content">
              <b-col v-if="displayBackButton" cols="2">
                <b-button
                  @click="navigateToHome"
                  id="button-back"
                  class="float-right header-button"
                  variant="primary"
                >
                  <b-icon icon="house" aria-hidden="true"></b-icon>
                </b-button>
              </b-col>
              <b-col :cols="displayBackButton ? 8 : 10">
                <b-form @submit="search">
                  <b-input-group>
                    <b-input @change="query" trim :debounce="200" v-model="query"></b-input>
                    <b-input-group-append>
                      <b-button-group>
                        <b-button @click="unsetQuery" v-if="query !== ''">
                          <b-icon-x />
                        </b-button>
                        <b-button type="submit" :disabled="query === ''" id="button-search">
                          <b-icon-search />
                        </b-button>
                      </b-button-group>
                    </b-input-group-append>
                  </b-input-group>
                </b-form>
              </b-col>
              <b-col cols="2">
                <b-button
                  href="#/new"
                  id="button-create"
                  class="float-right header-button"
                  variant="success"
                >
                  <b-icon icon="file-earmark-plus" aria-hidden="true"></b-icon>
                </b-button>
              </b-col>
            </b-row>
          </div>
        </b-col>
      </b-row>
    </b-container>
    <router-view />
    <b-container id="footer" v-if="sessionActive">
      <b-row>
        <b-col cols="12">
          <b-link @click="logout">{{ $t('message.auth.logout') }}</b-link>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import client from "./client";

export default {
  name: "App",
  data() {
    return {
      query: this.$store.state.query,
      displayBackButton: false,
      onHomePage: true
    };
  },
  methods: {
    logout() {
      client.logout().then(() => {
        this.$store.commit("unsetSession");
      });
    },
    navigateToHome() {
      this.unsetQuery();
      this.$router.push("/");
    },
    search(event) {
      event.preventDefault();
      this.$store.commit("setQuery", this.query);
      if (!this.onHomePage) {
        this.$router.push("/");
      }
    },
    unsetQuery() {
      this.query = "";
    }
  },
  computed: {
    ...mapGetters(["sessionActive"])
  },
  watch: {
    sessionActive(isActive) {
      if (!isActive) {
        this.$router.push("/login");
      }
    },
    query(q) {
      this.$store.commit("setQuery", q);
    },
    $route() {
      this.onHomePage = this.$router.currentRoute.name == "Home";
      this.displayBackButton = !this.onHomePage;
    }
  },
  mounted() {
    if (!this.sessionActive) {
      client
        .getSession()
        .then(res => {
          this.$store.commit("setSession", res.data.userName);
        })
        .catch(() => {
          this.$router.push("/login");
        });
    }
  }
};
</script>

<style>
html {
  height: 100%;
  background: lightgrey;
}

#navbar {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  color: white;
  text-align: center;
}

#navbar-content {
  height: 100%;
}

.header-button {
  width: 100%;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
  padding-top: 1em;
  padding-bottom: 3em;
  background: lightgrey;
}

#footer {
  padding-top: 1em;
  text-align: center;
}

#footer a {
  color: grey;
}
</style>
