<template>
  <b-container>
    <b-form @submit="handleSubmit">
      <b-card no-body>
        <b-card-header id="header">{{ $t('message.recipe.action.createNew') }}</b-card-header>
        <b-card-body>
          <RecipeForm v-model="recipe" />
        </b-card-body>

        <b-card-footer>
          <b-row>
            <b-col>
              <b-button class="float-right" variant="primary" @click="handleSubmit">
                <b-icon icon="check" aria-hidden="true" />
              </b-button>
            </b-col>
          </b-row>
        </b-card-footer>
      </b-card>
    </b-form>
  </b-container>
</template>

<script>
import client from "../client";
import RecipeForm from "../components/RecipeForm";
export default {
  name: "NewRecipe",
  components: {
    RecipeForm
  },
  data() {
    return {
      recipe: {
        name: "",
        preparation: "",
        tags: [],
        ingredients: [""],
        duration: "",
        servings: 1
      }
    };
  },
  methods: {
    handleSubmit(event) {
      this.errors = [];

      event.preventDefault();

      client.createRecipe(this.recipe).then((res) => {
        const created = res.data
        this.$router.push(`/recipes/${created.slug}`);
      });
    }
  }
};
</script>

<style scoped>
#header {
  font-size: 1.5em;
}

.ingredient:not(:first-child) {
  margin-top: 1em;
}
</style>