<template>
  <b-container>
    <b-row>
      <b-col class="text-center">
        <b-spinner v-if="loading" type="grow" label="Spinning"></b-spinner>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-form @submit="handleSubmit" v-if="!loading">
          <b-card no-body>
            <b-card-header class="text-left">
              <span id="recipe-title">{{ recipe.name }}</span>
            </b-card-header>
            <b-card-body>
              <RecipeForm v-model="recipe" />
            </b-card-body>
            <b-card-footer>
              <b-row>
                <b-col>
                  <b-button class="float-left" variant="secondary" @click="handleCancel">
                    <b-icon icon="x" aria-hidden="true"></b-icon>
                  </b-button>
                  <b-button class="float-right" variant="primary" @click="handleSubmit">
                    <b-icon icon="check" aria-hidden="true" />
                  </b-button>
                </b-col>
              </b-row>
            </b-card-footer>
          </b-card>
        </b-form>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import client from "../client";
import RecipeForm from "../components/RecipeForm";
export default {
  name: "EditRecipe",
  components: {
    RecipeForm
  },
  props: {
    slug: String
  },
  data() {
    return {
      recipe: {},
      loading: true
    };
  },
  methods: {
    loadRecipe() {
      client.getRecipe(this.slug).then(res => {
        this.recipe = res.data;
        this.loading = false;
      });
    },
    handleSubmit(event) {
      event.preventDefault();

      client.updateRecipe(this.slug, this.recipe).then(res => {
        const updated = res.data;
        this.$router.push(`/recipes/${updated.slug}`);
      });
    },
    handleCancel() {
      this.$router.push(`/recipes/${this.slug}/`);
    }
  },
  mounted() {
    this.loadRecipe();
  }
};
</script>

<style scoped>
#recipe-title {
  font-size: 1.5em;
}

.ingredient:not(:first-child) {
  margin-top: 1em;
}
</style>