<template>
  <div class="home">
    <b-container>
      <b-row>
        <b-col class="text-center">
          <b-spinner v-if="loading" type="grow" label="Spinning"></b-spinner>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-list-group>
            <b-list-group-item
              v-for="recipe in recipes"
              :key="recipe.slug"
              button
              @click="handleRecipeSelection(recipe.slug)"
              class="text-left"
            >{{ recipe.name }}</b-list-group-item>
          </b-list-group>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import client from "../client";
import { mapGetters } from "vuex";
export default {
  name: "Home",
  data() {
    return {
      recipes: [],
      loading: true
    };
  },
  methods: {
    loadRecipes(query) {
      if (query && query !== "") {
        client.searchRecipes(query).then(res => {
          this.recipes = res.data;
          this.loading = false;
        });
      } else {
        client.getRecipes().then(res => {
          this.recipes = res.data;
          this.loading = false;
        });
      }
    },
    handleRecipeSelection(slug) {
      this.$router.push(`/recipes/${slug}/`);
    }
  },
  computed: {
    ...mapGetters(["getQuery"])
  },
  watch: {
    getQuery(query) {
      this.loadRecipes(query);
    }
  },
  mounted() {
    const query = this.$store.state.query;
    this.loadRecipes(query);
  }
};
</script>