<template>
  <div class="login">
    <b-container>
      <b-row class="justify-content-md-center">
        <b-col cols="12" md="4">
          <form @submit="login">
            <b-form-group>
              <b-input-group>
                <b-input-group-prepend is-text>
                  <b-icon-person />
                </b-input-group-prepend>
                <b-form-input
                  :state="isValid"
                  @input="resetValidation"
                  id="user"
                  :placeholder="$t('message.auth.user')"
                  v-model="user"
                />
              </b-input-group>
            </b-form-group>
            <b-form-group>
              <b-input-group>
                <b-input-group-prepend is-text>
                  <b-icon-lock />
                </b-input-group-prepend>
                <b-form-input
                  id="password"
                  :placeholder="$t('message.auth.password')"
                  v-model="password"
                  @input="resetValidation"
                  :state="isValid"
                  type="password"
                />
              </b-input-group>
            </b-form-group>

            <b-button
              :disabled="user.length === 0"
              @click="login"
              type="submit"
              variant="primary"
            >{{ $t('message.auth.login') }}</b-button>
          </form>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import client from "../client";
import { config } from "../config";
export default {
  name: "Login",
  data() {
    return {
      user: "",
      password: "",
      isValid: null
    };
  },
  methods: {
    login(event) {
      event.preventDefault()
      client
        .login(this.user, this.password)
        .then(res => {
          const secureFlag = config.isProduction ? " Secure;" : "";
          document.cookie = `_sessiondata=${res.headers["set-authorization"]}; path=/;${secureFlag} SameSite=Strict;`;
          this.$store.commit('setSession', this.user)
          this.$router.push("/");
        })
        .catch(this.setInvalid);
    },
    setInvalid() {
      this.isValid = false;
    },
    resetValidation() {
      this.isValid = null;
    }
  },
  mounted() {
    if (this.$store.getters.sessionActive) {
      this.$router.push("/")
    }
  }
};
</script>

<style scoped>
</style>
