<template>
  <div class="recipe">
    <b-container>
      <b-row>
        <b-col class="text-center">
          <b-spinner v-if="loading" type="grow" label="Spinning"></b-spinner>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-card no-body class="text-left" v-if="!loading">
            <b-card-header>
              <b-row>
                <b-col cols="10">
                  <b-row>
                    <b-col cols="12">
                      <div id="recipe-title">{{ name }}</div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="12" id="recipe-tags" class="secondary" v-if="tags.length != 0">
                      <span class="tag" v-for="tag in tags" :key="tag">{{ tag }}</span>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="12" id="recipe-meta" class="secondary">
                      <span class="recipe-info">
                        <b-icon-person-fill />
                        {{ servings }}
                      </span>
                      <span class="recipe-info">
                        <b-icon-clock-fill />
                        {{ duration }}
                      </span>
                    </b-col>
                  </b-row>
                </b-col>
                <b-col cols="2">
                  <b-button @click="editRecipe" variant="light" class="float-right">
                    <b-icon id="icon-recipe-edit" icon="pencil-square" aria-hidden="true"></b-icon>
                  </b-button>
                </b-col>
              </b-row>
            </b-card-header>
            <b-card-body class="recipe-preparation">
              <vue-markdown :source="preparation" :html="false" />
            </b-card-body>
            <b-list-group id="recipe-ingredients" v-if="ingredients.length > 0" flush>
              <b-list-group-item
                v-for="(ingredient, index) in ingredients"
                :key="index"
                class="bg-light"
              >{{ ingredient }}</b-list-group-item>
            </b-list-group>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import client from "../client";
import VueMarkdown from "vue-markdown";
export default {
  name: "Home",
  props: {
    slug: String
  },
  components: {
    VueMarkdown
  },
  data() {
    return {
      name: "",
      preparation: "",
      ingredients: [],
      duration: "",
      servings: 1,
      tags: [],
      loading: true
    };
  },
  methods: {
    loadRecipe() {
      client.getRecipe(this.slug).then(res => {
        const recipe = res.data;
        this.name = recipe.name;
        this.preparation = recipe.preparation;
        this.ingredients = recipe.ingredients;
        this.duration = recipe.duration;
        this.servings = recipe.servings;
        this.tags = recipe.tags;
        this.loading = false;
      });
    },
    editRecipe() {
      this.$router.push(`/edit/${this.slug}`);
    }
  },
  mounted() {
    this.loadRecipe();
  }
};
</script>

<style scoped>
.recipe-info {
  margin-right: 1em;
}

.secondary {
  color: grey;
}

#recipe-meta {
  padding-top: 0.5em;
  font-size: 0.8em;
}

#recipe-tags {
  margin-top: 0.25em;
  font-size: 0.6em;
  text-transform: uppercase;
}

#recipe-ingredients {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

#icon-recipe-edit {
  color: grey;
}

.tag {
  margin-right: 0.25em;
  float: left;
}

#recipe-title {
  font-size: 1.5em;
}
</style>